version: "3.9"

services:

  api:
    build: ./backend
    env_file:
      - ./backend/.env
    ports:
      - "3000:3000"
    restart: unless-stopped

  web:
    build: ./frontend
    env_file:
      - ./frontend/.env.local
    ports:
      - "8080:3000"
    depends_on:
      - api
    restart: unless-stopped
